<h1>Welcome to Vaccine Tracker API</h1>
&nbsp
<h3>Vaccine Routes</h3>
<p>View all vaccines</p>
<pre>&nbsp&nbsp/vaccines</pre>
<p>Show a single vaccine with an id</p>
<pre>&nbsp&nbsp/vaccines/:id</pre>
&nbsp
<h3>User Routes</h3>
<p>View all users</p>
<pre>&nbsp&nbsp/users</pre>
<p>Show a user with an id</p>
<pre>&nbsp&nbsp /users/:id</pre>
<p>Create a users</p>
<pre>&nbsp&nbsp/users</pre>
<p>Delete a user an id</p>
<pre>&nbsp&nbsp/users/:id</pre>
