<h1>Welcome to Vaccine Tracker API</h1>
&nbsp
<h3>Vaccine Routes</h3>
<p>View all vaccines</p>
<pre>&nbsp&nbsp/vaccines</pre>
<p>Show a single vaccine with an id</p>
<pre>&nbsp&nbsp/vaccines/:id</pre>
